.App {
  text-align: center;
}
.Char-cov{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.Char-Container {
  background-color: white;
  color: black;
  width: 20%;
  margin: 1%;
  padding: 3%;
  border-radius: 2%;
  align-items: flex-end;
}
.Char-Img {
}
.Char-Img img {
  width: 100%;
}
/* write your parent styles in here for your App.js */
