.App {
  text-align: center;
}
.Char-cov{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.Char-Container {
  background-color: white;
  color: black;
  width: 15%;
  margin: 2%;
  padding: 5%;
  border-radius: 2%;
}
/* write your parent styles in here for your App.js */
